.font-cursive{
    font-family: cursive;
}
.font-sans-serif{
    font-family: sans-serif;
}
.font-monospace{
    font-family: monospace;
}
.font-fantasy{
    font-family: fantasy;
}
.font-italic{
    font-style: italic;
}