.marg-left-100{
    margin-left: 100px;
}
.marg-left-200{
    margin-left: 200px;
}
.marg-left-300{
    margin-left: 300px;
}
.marg-left-400{
    margin-left: 400px;
}
.marg-left-500{
    margin-left: 500px;
}
.marg-left-600{
    margin-left: 600px;
}
.marg-left-700{
    margin-left: 700px;
}
.marg-left-800{
    margin-left: 800px;
}
.marg-left-900{
    margin-left: 900px;
}
.marg-left-1000{
    margin-left: 1000px;
}