.marg-bottom-100{
    margin-bottom: 100px;
}
.marg-bottom-200{
    margin-bottom: 200px;
}
.marg-bottom-300{
    margin-bottom: 300px;
}
.marg-bottom-400{
    margin-bottom: 400px;
}
.marg-bottom-500{
    margin-bottom: 500px;
}
.marg-bottom-600{
    margin-bottom: 600px;
}
.marg-bottom-700{
    margin-bottom: 700px;
}
.marg-bottom-800{
    margin-bottom: 800px;
}
.marg-bottom-900{
    margin-bottom: 900px;
}
.marg-bottom-1000{
    margin-bottom: 1000px;
}