.pad-right-100{
    padding-right: 100px;
}
.pad-right-200{
    padding-right: 200px;
}
.pad-right-300{
    padding-right: 300px;
}
.pad-right-400{
    padding-right: 400px;
}
.pad-right-500{
    padding-right: 500px;
}
.pad-right-600{
    padding-right: 600px;
}
.pad-right-700{
    padding-right: 700px;
}
.pad-right-800{
    padding-right: 800px;
}
.pad-right-900{
    padding-right: 900px;
}
.pad-right-1000{
    padding-right: 1000px;
}